<%- include('partials/header') %>

<div class="container">
  <div class="row">
    <div class="col-sm-8 input-genre">
      <form action="/add-genre" method="POST">
        <label for="genre">Add Genre : </label>
        <input type="text" name="genre" id="genre" />
        <button type="submit" name="submit" class="btn btn-primary">
          Add Genre
        </button>
      </form>
      <div class="genre-list">
        <ul>
          <% genre.forEach(function(item, index){%>
          <li class="genre-item">- <%= item.genre %></li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
