<%- include('partials/header') %>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <ul class="genreUser">
        <% genre.forEach(function(item, index){%>
        <a href="search/<%= item._id %>" class="genreItem"><%= item.genre %></a>
        <% }) %>
      </ul>
    </div>
    <div class="col-sm-4">
      <div
        class="toast-anime sticky-top"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="toast-header">
          <img
            src="../img/nimedesu.jpg"
            class="toast-img"
            alt="NimeDesu Image"
          />
          <strong class="mr-auto">NimeDesu</strong>
          <small>2020</small>
        </div>
        <div class="toast-body">
          Thanks for visiting this website hope you enjoyed and dont forget to
          follow on social media :
          <ul class="list-group">
            <li class="list-group-item">
              <a href="https://www.instagram.com/yunstech"
                ><i class="fab fa-instagram"></i> Instagram</a
              >
            </li>
            <li class="list-group-item">
              <a href="https://www.twitter.com/yunstech"
                ><i class="fab fa-twitter"></i> Twitter</a
              >
            </li>
            <li class="list-group-item">
              <a href="https://www.youtube.com/channel/UCERKaZ4cFgYO69rz8SgjC4g"
                ><i class="fab fa-youtube"></i> Youtube</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
